.Cart{
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.Cart_items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Cart img {
width: 200px;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 320px
}